<h3><i class="fa fa-tasks fa-fw"></i> Build</h3>
<ul class="list-unstyled">
	<li>{% include build.html job="Deploy Test Fms" %}</li>
	<li>{% include build.html job="Deploy Test Lac" %}</li>
	<li>{% include build.html job="Deploy Test Mrt Fresh Db" %}</li>
	<li>{% include build.html job="Deploy Test Mrt Fresh Db With WO" %}</li>
	<li>{% include build.html job="Deploy Test Mrt Upgrade Db" %}</li>
	<li>{% include build.html job="Deploy Test Ord" %}</li>
	<li>{% include build.html job="Dev Build Communication" %}</li>
	<li>{% include build.html job="Dev Build Fms" %}</li>
	<li>{% include build.html job="Dev Build Lac" %}</li>
	<li>{% include build.html job="Dev Build Mrt" %}</li>
	<li>{% include build.html job="Dev Build Ord" %}</li>
	<li>{% include build.html job="Dev Build Renta Common" %}</li>
	<li>{% include build.html job="Dev Build Reporting" %}</li>
	<li>{% include build.html job="Dev Deploy Release" %}</li>
	<li>{% include build.html job="Dev Nightly Build" %}</li>
	<li>{% include build.html job="Dev Tag Release" %}</li>
	<li>{% include build.html job="Workorder Migration From To" %}</li>
</ul>