<h3><i class="fa fa-signal fa-fw"></i> DMS</h3>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/static/modules/gviz/1.0/chart.js">
{
    "dataSourceUrl": "//docs.google.com/spreadsheet/tq?key=0AqJbzJ2ZC3PodGxRZ084bWkwY01sUFN5SzB4ZkJvbHc&transpose=1&headers=0&range=B11%3AM13&gid=105&pub=1",
    "options": {
        "titleTextStyle": {
            "bold": true,
            "color": "#000",
            "fontSize": 16
        },
        "vAxes": [{
            "useFormatFromData": true,
            "minValue": null,
            "viewWindow": {
                "min": null,
                "max": null
            },
            "maxValue": null
        }, {
            "useFormatFromData": true,
            "minValue": null,
            "viewWindow": {
                "min": null,
                "max": null
            },
            "maxValue": null
        }],
        "title": "DMS Project ideal (blue) vs actual (red)",
        "curveType": "",
        "booleanRole": "certainty",
        "height": 371,
        "animation": {
            "duration": 500
        },
        "legend": "none",
        "width": 600,
        "lineWidth": 2,
        "hAxis": {
            "useFormatFromData": true,
            "minValue": null,
            "viewWindowMode": null,
            "viewWindow": null,
            "maxValue": null
        },
        "tooltip": {}
    },
    "state": {},
    "view": {},
    "isDefaultVisualization": false,
    "chartType": "LineChart",
    "chartName": "Chart 3"
}
</script>
